.objectives__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  gap: 32px;
  padding: 64px 64px;

  .objectives__content__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
  }

  .objectives__content__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }
}