.event_speaker_content_container{
        width: 80%;
        height: 100%;
        color: #FFFFFF;
        gap: 20px;

        @media screen and (max-width: 820px){
            width: 100%;
        }

        &_info{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: row;
            text-align: justify;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            gap: 30px;

            @media screen and (max-width: 480px){
                flex-direction: column;
                width: 80%;
                max-height: 100%;
                gap: 0;
            }

            &_user{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 30%;
                border-radius: 50%;
                height: 80%;
                overflow: hidden;

                @media screen and (max-width: 480px){
                    flex-direction: column;
                    max-width: 150px;
                    max-height: 150px;
                }
            }

            &_speaker{
                width: 70%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media screen and (max-width: 480px){
                    width: 100%;
                    font-size: 0.6em;
                }
            }
        }
    }