.event_speaker_content_container{
        width: 80%;
        height: 100%;
        color: #FFFFFF;
        gap: 20px;

        &_info{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: row;
            text-align: justify;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            gap: 30px;

            &_user{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                border-radius: 25px 0 0 25px;
                height: 60%;
                overflow: hidden;
            }

            &_speaker{
                width: 70%;
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }