.infiniteScroller__content {
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;

    .infiniteScroller__content__tracker {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 120vw;
        gap: 37px;
        animation: scrollLeft 30s linear infinite;

        &.scrollRight {
            animation-name: scrollRight;
        }

        &.scrollLeft {
            animation-name: scrollLeft;
        }

        .infiniteScroller__content__tracker__item {
            flex: 0 0 auto;
            padding: 16px 64px;

            .infiniteScroller__content__tracker__item__image {
                width: fit-content;
                height: 80px;
                border-radius: inherit;
                transition: all 0.2s ease-in;
                user-select: none;

                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    .infiniteScroller__content {
        .infiniteScroller__content__tracker {
            gap: 32px;
            .infiniteScroller__content__tracker__item {
                padding: 16px 32px;

                .infiniteScroller__content__tracker__item__image {
                    width: fit-content;
                    height: 64px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .infiniteScroller__content {
        .infiniteScroller__content__tracker {
            .infiniteScroller__content__tracker__item {
                padding: 12px 32px;

                .infiniteScroller__content__tracker__item__image {
                    width: fit-content;
                    height: 48px;
                }
            }
        }
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
