@import "@/styles/variables.scss";

.event_description_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    border-bottom: 2px solid $brand-primary-5;

    @media screen and (max-width:480px){
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width:1024px){
        flex-direction: column;
        gap: 20px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        height: 100%;
        text-align: justify;
        gap: 20px;

        @media screen and (max-width:480px){
            max-width: 100%;
        }

        @media screen and (max-width:1024px){
            max-width: 100%;
        }

        &_header {
            width: 100%;
            height: auto;
            line-height: 1.2;

            h1{
                font-weight: 700;
            }
        }

        &_main{
            font-size: 1.2em;
            line-height: 1.6;
        }
    }

    iframe {
        border-radius: 24px;
        width: 600px;
        height: 250px;

        @media screen and (max-width:480px){
            max-width: 100%;
        }
    }
}
