@import "@/styles/variables.scss";

.event_sub_description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 36px;
    border-bottom: 2px solid $brand-primary-5;

    @media screen and (max-width: 480px){
        flex-direction: column;
        gap: 15px;
    }

    &_info{
        display: flex;
        justify-content: space-around;
        width: 60%;

        @media screen and (max-width: 480px){
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 26px
        }

        @media screen and (max-width: 768px){
            gap: 25px;
        }

        @media screen and (max-width: 820px){
            gap: 40px;
        }
    }
}