@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: $brand-primary transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: $brand-primary;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}


html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $background-primary;
}


body {
  background-color: $background-primary;
  color: $text-dark;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}