//GRAYSCALE
$dark-100: #16151c;
$dark-90: #16151cc4;
$dark-80: #16151c80;
$dark-20: #16151c20;

$gray-100: #a2a1a8;
$gray-80: #a2a1a880;
$gray-20: #a2a1a820;
$gray-10: #a2a1a810;
$gray-5: #a2a1a805;

$white-100: #ffffff;
$white-80: #ffffff80;
$white-20: #ffffff20;

$light-100: #d9e1e1;
$light-80: #d9e1e180;
$light-20: #d9e1e120;
$light-10: #d9e1e110;
$light-5: #d9e1e105;

//UTILS - COLORS
$dark-yellow-100: #a48925;
$yellow-100: #efbe12;
$yellow-5: #efbe1205;

$green-100: #3fc28a;
$green-5: #3fc28a05;

$red-100: #f45b69;
$red-80: #f45b6980;
$red-5: #f45b6905;

//TOKENS - BACKGROUNDS
$background-primary: #f9f9f9;
$background-secondary: #ffffff;

//TOKENS - FOREGROUNDS
$foreground-primary: #A475B8;
$foreground-secondary: #85728D;

//TOKENS - BRAND COLORS
$brand-primary-5: #A475B805;
$brand-primary-10: #A475B810;
$brand-primary-20: #A475B820;
$brand-primary: #A475B8;
$brand-secondary: #85728D;
$brand-tirth: #5D5263;
$brand-fourth: #2B1933;
$brand-fifth: #291133;

//TOKENS - TEXT COLORS
$text-title: $brand-fifth;

$text-primary: $brand-primary;
$text-secondary: $brand-tirth;
$text-light: $light-100;
$text-dark: $dark-100;
$text-gray: $gray-80;

//TOKENS - TEXT WEIGHT
$font-medium: 500;
$font-bold: 700;
$font-light: 300;

//TOKENS - TEXT SIZES
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
$font-size-5xl: 3rem;

//TOKENS - LINECOLORS
$line-color-05: #0000000d;
$line-color-10: #0000001a;
$line-color-30: #0000004d;
$line-color-50: #00000080;
$line-color-70: #000000b3;
$line-color-90: #000000e6;
$line-color-100: #000000ff;

:export {
    backgroundPrimary: $background-primary;
    backgroundSecondary: $background-secondary;
    
    foregroundPrimary: $foreground-primary;
    foregroundSecondary: $foreground-secondary;
    
    brandPrimary: $brand-primary;
    brandSecondary: $brand-secondary;
    brandTirth: $brand-tirth;
    brandFourth: $brand-fourth;
    brandFifth: $brand-fifth;
    
    textTitle: $text-title;
    textPrimary: $text-primary;
    textSecondary: $text-secondary;
    textLight: $text-light;
    textDark: $text-dark;
    textGray: $text-gray;
    
    fontMedium: $font-medium;
    fontBold: $font-bold;
    fontLight: $font-light;
    
    fontSizeXXS: $font-size-xxs;
    fontSizeXS: $font-size-xs;
    fontSizeSM: $font-size-sm;
    fontSizeMD: $font-size-md;
    fontSizeLG: $font-size-lg;
    fontSizeXL: $font-size-xl;
    fontSize2XL: $font-size-2xl;
    fontSize3XL: $font-size-3xl;
    fontSize4XL: $font-size-4xl;
}