@import '@/styles/variables.scss';

.event_speaker_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background: linear-gradient($brand-fourth, $brand-primary);
}