
@import "@/styles/variables.scss";

.navBar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: $background-primary;
  border-bottom: 1px solid $line-color-05;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (max-width: 768px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: $background-primary;
      padding: 16px 0;
      gap: 16px;
      z-index: 20;
    }

    &.open {
      @media screen and (max-width: 768px) {
        display: flex;
      }
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
