@import "@/styles/variables.scss";

.navBar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 0px 32px;
    background-color: $background-primary;
    border-bottom: 1px solid $line-color-05;

    .navBar__content__logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .navBar__content__items {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}