@import '@/styles/variables.scss';

.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
    align-items: center;
    padding: 0px 88px;

    .banner__content__main {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        color: white;

        .banner__content__main__information {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;

            h3 {
                font-size: 1.5rem;
                font-weight: 400;
                text-transform: uppercase;
            }

            h1 {
                font-size: 4.5rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            p {
                width: 50%;
                text-align: justify;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0px 32px 64px 32px;

        .banner__content__main {
            align-items: center;
            text-align: center;

            .banner__content__main__information {
                width: 100%;

                h1 {
                    font-size: 48px;
                }

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 0px 16px 48px 16px;

        .banner__content__main {
            gap: 16px;

            .banner__content__main__information {
                gap: 6px;

                h1 {
                    font-size: 36px;
                }

                h3 {
                    font-size: 16px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}