@import '@/styles/variables.scss';

.timelineItem__content {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    gap: 32px;
    border-radius: 16px;
    border: 2px dashed $foreground-primary;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .timelineItem__content__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        flex: 1;
    }

    .timelineItem__content__date {
        display: flex;
        align-items: center;
        gap: 8px;
        flex: 0.2;

        h3 {
            font-size: 3.5rem;
            font-weight: 700;
            color: $text-primary;
            text-align: center;
            text-transform: uppercase;
        }

        .timelineItem__content__date__days {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;

            span {
                font-size: 1rem;
                font-weight: 400;
                color: $text-dark;
                text-align: center;
            }
        }
    }

    .timelineItem__content__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 8px;

        h4 {
            font-size: 1.1rem;
            font-weight: 600;
            color: $text-dark;
            text-align: left;
            text-transform: uppercase;
        }

        .timelineItem__content__info__text {
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                font-size: 1rem;
                font-weight: 400;
                color: $text-dark;
                text-align: left;

                &:first-child {
                    position: relative;

                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        border-radius: 2px;
                        background-color: $foreground-primary;
                        position: absolute;
                        left: 102%;
                    }
                }

                svg {
                    width: 16px;
                    height: 16px;
                    color: $text-dark;
                }
            }
        }
    }

    .timelineItem__content__button {
        display: flex;
        align-items: center;
        gap: 4px;

        .timelineItem__content__button__chevron {
            display: none;
        }
    }
}

@media screen and (max-width: 1400px) {
    .timelineItem__content {
        padding: 18px 24px;
        gap: 0px;
        border-radius: 16px;
        min-height: 140px;

        .timelineItem__content__date {
            flex: 0.2;

            h3 {
                font-size: 3.5rem;
            }

            .timelineItem__content__date__days {
                gap: 2px;

                span {
                    font-size: 0.9;
                }
            }
        }

        .timelineItem__content__info {
            gap: 6px;

            h4 {
                font-size: 1rem;
            }

            .timelineItem__content__info__text {
                gap: 16px;

                span {
                    font-size: 0.9rem;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        .timelineItem__content__button {
            .timelineItem__content__button__default {
                button {
                    padding: 10px 36px;

                    span {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .timelineItem__content {
        padding: 16px 20px;
        gap: 24px;

        .timelineItem__content__date {
            flex: 0;

            h3 {
                font-size: 3.2rem;
            }

            .timelineItem__content__date__days {
                gap: 2px;

                span {
                    font-size: 0.9rem;
                }
            }
        }

        .timelineItem__content__info {
            gap: 6px;

            h4 {
                font-size: 1rem;
            }

            .timelineItem__content__info__text {
                gap: 4px;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;



                span {
                    font-size: 0.9rem;

                    &:first-child {
                        &::after {
                            content: none;
                        }
                    }

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .timelineItem__content__button {
            .timelineItem__content__button__default {
                button {
                    padding: 8px 28px;

                    span {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .timelineItem__content {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px;
        gap: 16px;

        .timelineItem__content__date {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            h3 {
                font-size: 3rem;
            }

            .timelineItem__content__date__days {
                span {
                    font-size: 0.9rem;
                }
            }
        }

        .timelineItem__content__info {
            width: 100%;

            h4 {
                font-size: 0.95rem;
            }

            .timelineItem__content__info__text {
                span {
                    font-size: 0.85rem;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .timelineItem__content__button {
            .timelineItem__content__button__default {
                display: none;
            }

            .timelineItem__content__button__chevron {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .timelineItem__content {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 16px 16px 16px 16px;
        gap: 12px;
        min-height: 120px;

        .timelineItem__content__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }

        .timelineItem__content__date {
            gap: 8px;

            h3 {
                font-size: 3rem;
            }

            .timelineItem__content__date__days {
                span {
                    font-size: 0.9rem;
                }
            }
        }

        .timelineItem__content__info {
            width: 100%;
            gap: 12px;

            h4 {
                font-size: 0.95rem;
            }

            .timelineItem__content__info__text {
                gap: 8px;

                span {
                    font-size: 0.85rem;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }

        .timelineItem__content__button {
            display: flex;

            .timelineItem__content__button__chevron {
                button {
                    padding: 0px 0px;
                }
            }
        }
    }
}


@media screen and (max-width: 480px) {
    .timelineItem__content {
        padding: 12px;
        gap: 12px;
        min-height: 110px;

        .timelineItem__content__date {
            h3 {
                font-size: 2.5rem;
            }

            .timelineItem__content__date__days {

                span {
                    font-size: 0.8rem;
                }
            }
        }

        .timelineItem__content__info {
            h4 {
                font-size: 0.8rem;
            }

            .timelineItem__content__info__text {
                gap: 6px;

                span {
                    font-size: 0.75rem;

                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }

        .timelineItem__content__button {
            justify-content: center;

            button {
                padding: 8px 20px;

                span {
                    font-size: 0.85rem;
                }
            }
        }
    }
}