@import "@/styles/variables.scss";

.header__content {
    display: flex;
    flex-direction: column;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}